<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PayUDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6AAC2B201C55ED58000B15A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AAC2B391C55ED5A000B15A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AAC2B441C55ED5A000B15A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
